/* media query for menu */
@media only screen and (max-width:800px){
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #2b2d42 ;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: white;

    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media (max-width:1000px){
    .categories .title {
        text-align: center;
    }
}
@media(max-width:950px) {
    .categ {
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
        row-gap: 0.2rem;
        padding: 0 20px;
    }
    .btn {
        margin: 20px 0 5px 0;
    }
    .hero-img {
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
/* media query for less than 600 screen size  */
@media (max-width:600px){
    .categ {
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
        row-gap: 0.2rem;
        padding: 0 20px;
    }
    .title {
        text-align: center;
    }
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .col-2 img {
        max-width: 100%;
        padding: 15px 0;
        /* padding-right: 35px; */
    }
}
@media (max-width:530px){
    /* sas */
    .categ {
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
        row-gap: 0.2rem;
        padding: 0 20px;
    }
}